<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Users - Zootopia</title>
    <style>
      table,
      th,
      td {
        border: 1px solid black;
        border-collapse: collapse;
      }
    </style>
  </head>
  <body>
    <h1>Users</h1>
    <table>
      <thead>
        <th>Name</th>
        <th>Email</th>
        <th>Age</th>
      </thead>
      <tbody>
        <tr>
          <td>John</td>
          <td>john@gmail.com</td>
          <td>23</td>
        </tr>

        <% users.forEach(user => { %>

        <tr>
          <td><%= user.name %></td>
          <td><%= user.email %></td>
          <td><%= user.age %></td>
          <td>
            <a href="/Users/<%= user._id %>">View</a>  
          </td>
        </tr>

        <% }); %>
      </tbody>
    </table>
  </body>
</html>

<!-- 
    array of object -> list of items of a table 

-->
